@charset "UTF-8";

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;

    padding: 0px;
}

:root {
    --fontetit: 'Poppins';
    --fontepdr: 'Roboto';
}

body {
    font-family: var(--fontepdr), Arial, Helvetica, sans-serif;
}

header#titulo {
    font-family: var(--fontetit), Arial, Helvetica, sans-serif;

    text-align: center;

    font-size: 2em;
}

a {
    font-weight: bold;

    color: white;
}

p {
    font-size: 2em;

    padding-top: 87px;
    padding-left: 30px;
    text-indent: 27px;
}

p.norm {
    padding-bottom: 30px;
}


img.imgala {
    margin: auto;
    
    display: block;
    
    width: 160px;
    height: 160px;
}

section#img1 {
    background-image: url(../imagens/alcorao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 500px;

    box-shadow: inset 0px 0px 20px black;
}

section#img1 > p#pimg1 {

    color: white;

    background-color: rgba(0, 0, 0, 0.247);
    
}

section#img2 {
    background-image: url(../imagens/niqab.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 500px;

    box-shadow: inset 0px 0px 20px black;
}

section#img2 > p#pimg2 {

    color: white;

    background-color: rgba(0, 0, 0, 0.247);
    
}

footer {
    background-color: black;

    color: white;
}

footer > p#rodape {
    padding-top: 0px;

    text-align: center;

    font-size: 1.5em;
}